@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://cdn.rawgit.com/almasaeed2010/AdminLTE/master/dist/css/AdminLTE.css";
@import "https://cdn.rawgit.com/almasaeed2010/AdminLTE/master/dist/css/skins/skin-blue.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://cdn.rawgit.com/almasaeed2010/AdminLTE/master/plugins/iCheck/square/blue.css";
@import "https://cdn.rawgit.com/almasaeed2010/AdminLTE/master/bower_components/Ionicons/css/ionicons.min.css";

h2 {
    color: #00f
}


.collapsible .contents {
    overflow: hidden;
}

.collapsible.collapsed .contents {
    height: 1.2em;
}

.commentsBox {
    width: 320px;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
}

.titleBox {
    background-color:#fdfdfd;
    padding:10px;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}

.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
    font-weight: bold;
}

.comments {
    padding: 10px;
    word-break:break-all;
}

.noTopBorder {
    border-top: none !important;
}

.titlePadding {
    padding-bottom: 10px;
}

.w1 {
    width: 20px;
}

.w2 {
    width: 40px;
}

.w3 {
    width: 60px;
}

.w4 {
    width: 80px;
}

.dashboard-count-boxes {
  display: inline-block;
}

.icheckbox_square-blue input, ins{
    position: absolute;
    top: -20%;
    left: -20%;
    display: block;
    width: 140%;
    height: 140%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}

.login-page{
    /*height: 600px;*/
    /*margin-top: -60px;*/
    padding-top: 10vh;
    height: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;    
}

.login-box {
  margin: 0px !important;
}

.login-box-footer {
  margin-top: 10px;
}

.overlay-container {
  position: relative;
}

.overlay-body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
  z-index: 1000;
  color: white;
  font-size: 30px;
}

.overlay-body.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: Spinner-spin infinite 3s linear;
}

@keyframes Spinner-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body, #root, #root, .router-rubbish {
  height: 100% !important;
}

.content-wrapper {
  margin-top: -50px;
  padding-top: 50px;
  /*height: 100%;*/
}

.content-container {
  margin: 20px;
}

.box.password-recovery {
  margin-top: 10vh;
}

.box-title {
  margin-bottom: 20px !important;
}


body {
  z-index: 10;
}